/*
CSS for TCPDF
 */

ul {
    list-style-type: square;
}

h1 {
    color: #0066b2;
    font-weight: normal;
    font-size: 14pt;
}

h3 {
    color: #5a5a5a;
    font-weight: normal;
    font-size: 12pt;
}

p {
    color: #5a5a5a;
}

a {
    color: #5a5a5a;
}

th {
    font-weight: bold;
}

td {
    background-color: #f6f6f6;
}